<phpunit backupGlobals="false" backupStaticAttributes="false"
	colors="true" convertErrorsToExceptions="true"
	convertNoticesToExceptions="true" convertWarningsToExceptions="true"
	processIsolation="false" stopOnFailure="false" syntaxCheck="false"
	bootstrap="Tests/bootstrap.php">
	
	<testsuites>
		<testsuite name="Solr Query Test Suite">
			<directory>./Tests/</directory>
		</testsuite>
	</testsuites>
</phpunit>